{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Gerenciador de Assessment{% endblock %}

{% block nav %}
    <div class="sb-sidenav-menu-heading font-small" style="color: white; background-color: #a0cad8; border-radius: 4px; padding: 5px;">
        Security Assessment - Assessment
    </div>
{% endblock %}

{% block content %}

<style>
    .verde {
    color: rgb(18, 180, 18);
    }

    .amarelo {
    color: #FFA500;
    }
</style>

<main>     
    <div class="d-flex mb-3" style="margin-top: 50px; margin-left: 45px">                         
        <button type="button" class="btn btn-primary btn-sm font-small text-center d-flex align-items-center justify-content-center me-2" data-bs-toggle="dropdown" aria-expanded="false">
            <svg width="16" height="16" fill="currentColor" class="bi bi-download me-1" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
            </svg>
            Modelo Planilha
        </button>
        <ul class="dropdown-menu font-small">
            {% for framework in frameworks %}
                <li>
                    {% if framework.excel_file %}
                        <a class="dropdown-item" href="{{ framework.excel_file.url }}">{{ framework.nome }}</a>
                    {% else %}
                        <a class="dropdown-item" href="#">{{ framework.nome }} (Sem arquivo)</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>        

        <button type="button" class="btn btn-primary btn-sm font-small text-center d-flex align-items-center justify-content-center" data-bs-toggle="dropdown" aria-expanded="false">
            <svg width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill me-1" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
            </svg>
            Novo Assessment
        </button>
        <ul class="dropdown-menu font-small">
            <li><a class="dropdown-item" href="#" type="button" data-bs-toggle="modal" data-bs-target="#uploadModal">Importar Planilha</a></li>
            {% for framework in frameworks %}
                <li><a class="dropdown-item" href="{% url 'redirecionar_framework' framework.id %}">{{ framework.nome }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <!-- Tabela -->
    <div class="table-responsive font-middle px-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Última Atualização</th>
                    <th scope="col" class="col-lg">Assessment</th>
                    <th scope="col" class="col-2">Status</th>
                    <th scope="col">Concluído por</th>
                    <th scope="col" style="text-align: center;">Resultado</th>
                    <th scope="col" style="text-align: center;">Meta</th>
                    <th scope="col" style="text-align: center;">Plano de Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for assessment in assessments %}
                <tr>
                    <td>
                        <div class="icon-container" style="display: flex; gap: 10px;">                                            
                            <!-- Botão para abrir o modal de exclusão -->
                            <span class="btn-delete" data-id="{{ assessment.id }}" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                                <svg class="bi-gear-fill" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </span>
                            <!-- Botão para abrir o download -->
                            {% if assessment.excel_file %}
                            <span id="downloadIcon" onclick="window.location.href='{{ assessment.excel_file.url }}'">
                                <svg class="bi-gear-fill" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                                </svg>
                            </span>
                            {% else %}
                                <p>Nenhum arquivo disponível para download</p>
                            {% endif %}
                            <!-- Botão para ver assessment -->
                            <a href="{% url 'redirecionar_framework2' assessment.id %}">
                                <span>
                                    <svg width="16" height="16" fill="currentColor" class="bi-gear-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                    </svg>
                                </span>
                            </a>                    
                        </div>   
                    </td>
                    <td>{{ assessment.data_upload }}</td>
                    <td>{{ assessment.nome }}</td>
                    <td class="nivel" data-nivel="{{ assessment.status }}">{{ assessment.status }}</td>
                    <td></td> <!-- Coluna vazia para "Concluído por" -->
                    <td style="text-align: center;">{{ assessment.resultado }}</td>
                    <td style="text-align: center;">{{ assessment.meta }}</td>
                    <td style="text-align: center;">
                        {% if assessment.status == 'Concluído' %}
                            <a href="{% url 'planodeacao' %}">
                                <button class="btn btn-secondary btn-lg btn-sm" style="background-color: darkgrey; border: none;">Vizualizar</button>
                            </a>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8">Nenhuma avaliação registradas.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal de Adicionar/Upload--> 
    <div class="modal fade font-small" id="uploadModal" tabindex="-1" aria-labelledby="uploadModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <header class="modal-title" id="uploadModal">Importar novo Assessment</header>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> 
                </div>
                <div class="modal-body font-small mb-2">
                    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate id="uploadForm">
                        {% csrf_token %}
                        {{ form1|crispy }}
    
                        <div class="mb-2 d-flex align-items-center font-small">
                            <div class="modal-body font-small modal-footer">
                                <button type="submit" class="btn btn-primary btn-sm font-small">Salvar</button>
                                <div class="invalid-feedback font-small">
                                    Por favor, selecione um arquivo.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de confirmação -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <header class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</header>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja excluir este registro?
                </div>
                <div class="modal-footer">
                    <!-- Botão Cancelar -->
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                    <!-- Botão Excluir -->
                    <button type="button" class="btn btn-danger btn-sm" id="confirmDeleteButton">Excluir</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        const uploadForm = document.getElementById('uploadForm');
        
        uploadForm.addEventListener('submit', function (event) {
            // Impede o comportamento padrão do envio do formulário
            event.preventDefault();

            // Checa se o formulário está válido
            if (!uploadForm.checkValidity()) {
                // Se o formulário não estiver válido, exibe as mensagens de erro
                event.stopPropagation();
                uploadForm.classList.add('was-validated');
            } else {
                // Se o formulário estiver válido, você pode permitir o envio
                uploadForm.submit();
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        let deleteAssessmentId = null;

        // Captura o ID do assessment e armazena para usar no botão "Excluir" dentro da modal
        document.querySelectorAll('.btn-delete').forEach(button => {
            button.addEventListener('click', function() {
                deleteAssessmentId = this.getAttribute('data-id');
            });
        });

        // Associa a ação de exclusão ao botão "Excluir" dentro da modal
        document.getElementById('confirmDeleteButton').addEventListener('click', function() {
            if (deleteAssessmentId) {
                fetch(`/deletar-assessment/${deleteAssessmentId}/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    }
                })
                .then(response => {
                    if (response.ok) {
                        location.reload(); // Recarrega a página após a exclusão
                    } else {
                        alert('Erro ao excluir o assessment.');
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        });
    });
 
    document.addEventListener("DOMContentLoaded", function() {
        var nivelElements = document.querySelectorAll(".nivel");

        nivelElements.forEach(function(nivelElement) {
            var valor = nivelElement.getAttribute("data-nivel");

            // Remove todas as classes de cor
            nivelElement.classList.remove("verde", "amarelo", "azul");

            // Aplica a cor baseada no valor
            if (valor === "Concluído") {
            nivelElement.classList.add("verde");
            } else if (valor === "Andamento") {
            nivelElement.classList.add("amarelo");
            }
        });
    });
</script>
{% endblock %}