{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Assessment{% endblock%}

{% block content %}
<main>    
    <div class="d-flex mb-3" style="margin-top: 50px; margin-left: 45px">                          
        <div class="btn-group mb-3 me-2">
            <button type="button" class="btn btn-primary btn-sm font-small text-center d-flex align-items-center justify-content-center " data-bs-toggle="modal" data-bs-target="#uploadModal">
                <svg width="16" height="16" fill="currentColor" class="bi bi-download me-1" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                </svg>
                Modelo Planilha
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle dropdown-toggle-split btn-outline-secondary-custom" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu font-small">
                <li><a class="dropdown-item" href="#">NIST CSF 2.0</a></li>
                <li><a class="dropdown-item" href="#">CIS Controls V8.1</a></li>
                <li><a class="dropdown-item" href="#"> ... </a></li>
            </ul>
        </div>
        
        <div class="btn-group mb-3">
            <button type="button" class="btn btn-primary btn-sm font-small text-center d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#uploadModal">
                <svg width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill me-1" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                </svg>
                Novo Assessment
            </button>
            <button type="button" class="btn btn-primary btn-outline-primary btn-sm dropdown-toggle dropdown-toggle-split btn-outline-secondary-custom" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu font-small">
                <li><a class="dropdown-item" href="#">Importar Planilha</a></li>
                <li><a class="dropdown-item" href="#">NIST CSF 2.0</a></li>
                <li><a class="dropdown-item" href="#"> ... </a></li>
            </ul>
        </div>
        
    </div>
    <!-- Tabela -->
    <div class="table-responsive font-middle px-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Ultimas Atualizações</th>
                    <th scope="col">Assessment</th>
                    <th scope="col">Status</th>
                    <th scope="col">Concluido por</th>
                    <th scope="col">Resultado</th>
                    <th scope="col">Meta</th>
                    <th scope="col">Plano de Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="icon-container" style="display: flex; gap: 10px;">                                            
                            <!-- Ícone para abrir o modal editar framework -->
                            <span data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                                <svg class="bi-gear-fill" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </span>
                            <!-- Botão para abrir o download -->
                            <span id="downloadIcon">
                                <svg class="bi-gear-fill" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                                </svg>
                            </span>
                            <!-- Botão para ver assessment -->
                            <span >
                                <svg width="16" height="16" fill="currentColor" class="bi-gear-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                </svg>
                            </span>
                        </div> 
                    </td>
                    <td>XX.XX.XXXX</td>
                    <td>NIST CSF 2.0</td>
                    <td>Concluído</td>
                    <td>Empresa - Usuário</td>
                    <td>2,16</td>
                    <td>2,50</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm font-small text-center d-flex align-items-center justify-content-center" data-bs-toggle="modal" style="background-color: #d3d3d3; border: none;">
                            Adicionar
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="icon-container" style="display: flex; gap: 10px;">                                            
                            <!-- Ícone para deletar assesment -->
                            <span data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                                <svg class="bi-gear-fill" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </span>
                            <!-- Ícone para abrir o download -->
                            <span id="downloadIcon">
                                <svg class="bi-gear-fill" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                                </svg>
                            </span>
                            <!-- Ícone para ver assessment -->
                            <span>
                                <svg width="16" height="16" fill="currentColor" class="bi-gear-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                </svg>
                            </span>
                        </div>
                    </td>
                    <td>XX.XX.XXXX</td>
                    <td>NIST CSF 2.0</td>
                    <td>Em andamento</td>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                </tr>
                <tr>
                    <td>
                        <div class="icon-container" style="display: flex; gap: 10px;">                                            
                            <!-- Ícone para deletar assessment -->
                            <span data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                                <svg class="bi-gear-fill" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </span>
                            <!-- Ícone para abrir o download -->
                            <span id="downloadIcon">
                                <svg class="bi-gear-fill" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                                </svg>
                            </span>
                            <!-- Ícone para ver assessment -->
                            <span>
                                <svg width="16" height="16" fill="currentColor" class="bi-gear-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                </svg>
                            </span>
                        </div>
                    </td>
                    <td>XX.XX.XXXX</td>
                    <td>Framework Próprio 1</td>
                    <td>Em andamento</td>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                </tr>
                <tr>
                    <td>
                        <div class="icon-container" style="display: flex; gap: 10px;">                                            
                            <!-- Ícone para deletar assessment -->
                            <span data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                                <svg class="bi-gear-fill" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </span>
                            <!-- Ícone para abrir o download -->
                            <span id="downloadIcon">
                                <svg class="bi-gear-fill" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                                </svg>
                            </span>
                            <!-- Ícone para visualizar assessment -->
                            <span data-bs-toggle="modal">
                                <svg width="16" height="16" fill="currentColor" class="bi-gear-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                </svg>
                            </span>
                        </div>                                            
                    </td>
                    <td>XX.XX.XXXX</td>
                    <td>Framework Próprio 1</td>
                    <td>Concluído</td>
                    <td>Empresa - Usuário</td>
                    <td>23%</td>
                    <td>56%</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm font-small text-center d-flex align-items-center justify-content-center" data-bs-toggle="modal" style="background-color: #d3d3d3; border: none;">
                            Visualizar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal de Adicionar/Upload--> 
    <div class="modal fade font-small" id="uploadModal" tabindex="-1" aria-labelledby="uploadModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <header class="modal-title" id="uploadModal">Adicionar novo Assessment</header>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> 
                </div>
                <div class="modal-body font-small mb-2">
                    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate id="uploadForm">
                        {% csrf_token %}
                        {{ form1|crispy }}
    
                        <div class="mb-2 d-flex align-items-center font-small">
                            <input type="file" name="excel_file" class="form-control form-control-sm me-2 font-small" id="excelFile" required>
                            <div class="modal-body font-small">
                                <button type="submit" class="btn btn-primary btn-sm font-small">Upload</button>
                                <div class="invalid-feedback font-small">
                                    Por favor, selecione um arquivo.
                                </div>
                            </div>
                        </div>
    
                        {% if uploaded_file_url %}
                            <p class="mt-2 font-small">Arquivo enviado para: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de confirmação -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <header class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</header>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja excluir este registro?
                </div>
                <div class="modal-footer">
                    <!-- Botão Cancelar -->
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                    <!-- Botão Excluir -->
                    <button type="button" class="btn btn-danger btn-sm">Excluir</button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}