{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Gerenciador de Framework{% endblock %}

{% block content %}
<main>                
    <div class="d-flex mb-3" style="margin-top: 50px; margin-left: 45px">
        <button type="button" id="downloadIcon" onclick="window.location.href='{% url 'download_file' 'framework_generico.xlsx' %}'" class="btn btn-primary btn-sm font-small text-center d-flex align-items-center justify-content-center me-2">
            <svg width="16" height="16" fill="currentColor" class="bi bi-download me-1" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
            </svg>
            Modelo Planilha
        </button>
        <button type="button" class="btn btn-primary btn-sm font-small text-center d-flex align-items-center justify-content-center me-2" data-bs-toggle="modal" data-bs-target="#uploadModal">
            <svg width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill me-1" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
            </svg>
            Novo Framework
        </button>
        <span id="infoicon">
            <svg class="bi-gear-fill" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
            </svg>
            <div class="infobubble">
                <b>Instruções para planilha </b><br>
                    O cabeçalho NÃO pode ser alterado <br>
                    O número de colunas NÂO pode ser alterado <br>
                    As colunas "Id Controle" e "Controle" são OBRIGATÓRIAS e devem ser PREENCHIDAS <br>
                    Linhas e colunas NÃO devem ser mescladas <br>
                    NÃO saltar linhas entre os dados <br>
                    NÂO começar o preenchimento por uma linha aleatória <br>
            </div>
        </span> 
        <!-- Filtro da tabela -->
        <div class="ms-auto" style="margin-right: 45px">
            <input style="max-width:200px;" type="text" id="filtro" class="font-small form-control" placeholder="Filtro...">
        </div>
    </div>
    <div>
        <!-- Desenho da tabela a ser implementado -->
        <div class="table-responsive font-middle px-5">
            <table class="table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Framework</th>
                        <th scope="col" class="col-lg">Descrição</th>
                        <th scope="col" class="col-2">Critério Avaliação</th>
                        <th scope="col">Data de Atualização</th>
                        <th scope="col">Adicionado por</th>
                    </tr>
                </thead>
                <tbody id="tabelaFrame"> 
                    {% for framework in frameworks %}
                    <tr>
                        <td>
                            <div class="icon-container" style="display: flex; gap: 10px;">
                                <!-- Botão para abrir o modal editar framework -->
                                <span class="editar-framework" data-id="{{ framework.id }}" data-bs-toggle="modal" data-bs-target="#editarFrameworkModal">
                                    <svg class="bi-gear-fill" viewBox="0 0 16 16">
                                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                                    </svg>
                                </span>   
                                <!-- Botão para abrir o download -->
                                {% if framework.excel_file %}
                                    <span id="downloadIcon" onclick="window.location.href='{{ framework.excel_file.url }}'">
                                        <svg class="bi-gear-fill" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                                        </svg>
                                    </span>
                                {% else %}
                                    <p>Nenhum arquivo disponível para download</p>
                                {% endif %}
                                <!-- Botão para abrir o modal de exclusão -->
                                <span class="btn-delete" data-id="{{ framework.id }}" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                                    <svg class="bi-gear-fill" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                    </svg>
                                </span>
                            </div>   
                        </td>
                        <td>{{ framework.nome }}</td>
                        <td>{{ framework.descricao }}</td>
                        <td>{{ framework.criterio }}</td>
                        <td>{{ framework.data_upload }}</td>
                        <td></td> <!-- Coluna vazia para "Adicionado por" -->
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">Nenhum framework registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>   
            </table>
        </div>
    </div>
    <!-- Modal de Adicionar/Upload--> 
    <div class="modal fade font-small" id="uploadModal" tabindex="-1" aria-labelledby="uploadModal" aria-hidden="true"> 
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <header class="modal-title" id="uploadModal">Adicionar Framework</header>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> 
                </div>
                <div class="modal-body font-small mb-2">
                    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate id="uploadForm">
                        {% csrf_token %}
                        {{ form1|crispy }}

                        <div class="mb-2 d-flex align-items-center font-small">
                            <div class="modal-body font-small modal-footer">
                                <button type="submit" class="btn btn-primary btn-sm font-small">Upload</button>
                                <div class="invalid-feedback font-small">
                                    Por favor, selecione um arquivo válido.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de confirmação -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <header class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</header>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja excluir este registro?
                </div>
                <div class="modal-footer">
                    <!-- Botão Cancelar -->
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                    <!-- Botão Excluir -->
                    <button type="button" class="btn btn-danger btn-sm" id="confirmDeleteButton">Excluir</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de Edição -->
    <div class="modal fade font-small" id="editarFrameworkModal" tabindex="-1" aria-labelledby="editarFrameworkModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <header class="modal-title" id="editarFrameworkModalLabel">Editar Framework</header>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body font-small mb-2">
                    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate id="editarFrameworkForm">
                        {% csrf_token %}
                        {{ form2|crispy }}
    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-sm font-small" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success btn-sm font-small">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        const uploadForm = document.getElementById('uploadForm');
        
        uploadForm.addEventListener('submit', function (event) {
            // Impede o comportamento padrão do envio do formulário
            event.preventDefault();

            // Checa se o formulário está válido
            if (!uploadForm.checkValidity()) {
                // Se o formulário não estiver válido, exibe as mensagens de erro
                event.stopPropagation();
                uploadForm.classList.add('was-validated');
            } else {
                // Se o formulário estiver válido, você pode permitir o envio
                uploadForm.submit();
            }
        });
    });

    // Script de filtro
    document.addEventListener('DOMContentLoaded', function() {
      const input = document.getElementById('filtro');
      input.addEventListener('keyup', function() {
          const value = input.value.toLowerCase();
          const rows = document.querySelectorAll('#tabelaFrame tr');
    
          rows.forEach((row, index) => {
              // Ignora o cabeçalho da tabela (index === 0)
              //if (index === 0) return;
    
              // Obtém o texto de todas as colunas em uma linha
              const rowText = Array.from(row.querySelectorAll('td'))
                  .map(td => td.textContent.trim().toLowerCase())
                  .join(' ');
    
              // Exibe a linha se ela contiver o valor do filtro, oculta caso contrário
              row.style.display = rowText.includes(value) ? '' : 'none';
          });
      });
    });

    document.addEventListener('DOMContentLoaded', function() {
        let deleteFrameworkId = null;

        // Captura o ID do framework e armazena para usar no botão "Excluir" dentro da modal
        document.querySelectorAll('.btn-delete').forEach(button => {
            button.addEventListener('click', function() {
                deleteFrameworkId = this.getAttribute('data-id');
            });
        });

        // Associa a ação de exclusão ao botão "Excluir" dentro da modal
        document.getElementById('confirmDeleteButton').addEventListener('click', function() {
            if (deleteFrameworkId) {
                fetch(`/deletar-framework/${deleteFrameworkId}/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    }
                })
                .then(response => {
                    if (response.ok) {
                        location.reload(); // Recarrega a página após a exclusão
                    } else {
                        alert('Erro ao excluir o framework.');
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        });

        // Script para edição
        document.querySelectorAll('.editar-framework').forEach(button => {
            button.addEventListener('click', function () {
                const id = this.getAttribute('data-id');
                const url = `/editar-framework/${id}/`;

                fetch(url, {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'  // Marca como requisição AJAX
                    }
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro ao buscar dados');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Valor do is_proprio:', data.is_proprio, 'Tipo:', typeof data.is_proprio);
                    
                    // Preenche os campos com os dados retornados do backend
                    document.querySelector('#editarFrameworkModal #id_nome').value = data.nome;
                    document.querySelector('#editarFrameworkModal #id_descricao').value = data.descricao;
                    document.querySelector('#editarFrameworkModal #id_criterio').value = data.criterio;

                    // Atualiza o action do formulário para a URL correta
                    const form = document.querySelector('#editarFrameworkForm');
                    if (form) {
                        form.action = url;
                    }
                })
                .catch(error => {
                    console.error('Erro ao processar os dados:', error);
                });
            });
        });
    });

</script>

{% endblock %}