{% extends 'base.html' %}

{% block title %}Plano de Ação{% endblock %}

{% load static %}

{% block nav %}
    <div class="d-none d-md-inline-block sb-sidenav-menu-heading font-small" style="color: #0691c0;">
        Security Assessment - Plano de Ação
    </div>
{% endblock %}

{% block content %}
<main>          
    <div class="d-flex mb-3" style="margin-top: 50px; margin-left: 45px">
        <div class="d-none d-md-inline-block btn-primary d-flex me-5" >
            <!-- <div>Plano de Ação</div> -->
        </div>
    </div>
    <!-- Tabela -->
    <div class="table-responsive font-middle px-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Última Atualização</th>
                    <th scope="col" class="col-lg">Assessment</th>
                    <th scope="col" class="col-2">Data Assessment</th>
                    <th scope="col" style="text-align: center;">Ações Cadastradas</th>
                    <th scope="col" style="text-align: center;">Custo Eestimado</th>
                    <th scope="col" style="text-align: center;">% Conclusão</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for acao in acoes %}
                <tr>
                    <td>
                        <div class="icon-container" style="display: flex; gap: 10px;">                                            
                            <!-- Botão para ver plano de ação -->
                            <a href="{% url 'redirecionar_planodeacao' acao.id %}">
                                <span>
                                    <svg width="16" height="16" fill="currentColor" class="bi-gear-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                    </svg>
                                </span>
                            </a>                    
                        </div>   
                    </td>
                    <td>{{ acao.data_upload|date:"d/m/Y" }}</td>
                    <td>{{ acao.nome }}</td>
                    <td>{{ acao.data_assess|date:"d/m/Y" }}</td>
                    <td style="text-align: center;">{{ acao.acoes_cad }}</td>
                    <td style="text-align: center;">
                        {% if acao.custo_estimado > 0 %}
                            R${{ acao.custo_estimado|floatformat:2 }}
                        {% else %}
                            R$ - 
                        {% endif %}    
                    </td>
                    <td style="text-align: center;">{{ acao.conclusao|floatformat:0 }}%</td>
                    <td>{{ acao.status }}</td>
                {% empty %}
                <tr>
                    <td colspan="9">Nenhuma avaliação registradas.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>   
{% endblock %}