.card {
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra mais sutil */
    

    .card-header {
      border-radius: 2px;
      padding-left: 0;
      font-size: 8px;
      color: white;
      height: 15px;
      background-color: #0691c0;
      border-radius: 0px;
      display: flex;              /* Habilita o uso de flexbox */
      align-items: center;        /* Alinha o conteúdo verticalmente no centro */
      justify-content: center;    /* Alinha o conteúdo horizontalmente no centro */
    }
  }   
    
  .card-tamanho { 
        display: flex;
        width: 145px;  
        height: 60px;
        
  }

.card-tamanho-acao { 
    display: flex;
    width: 125px;  
    height: 50px;
    
    
}

  .card-body {
      font-family: sans-serif;
      /* overflow: hidden; Impede que o gráfico transborde */
      
  }
 
  .font-titulo {
        font-size: 12px;
        color:#0691c0;
        font-weight: bold;
                
  }
    
  .subtitulo {
      font-size: 10px;
           
  }  

  .nome_secao {
      font-size: 12px;
      font-weight: bold;
      padding-bottom: 0;
      color: #7d7c80;
  }

  
  
  
  
  